In [1]:
emplist=["sathiya","sabari","selva","ashok","inba"]

In [2]:
type(emplist)

list

In [3]:
print(emplist[:4])

['sathiya', 'sabari', 'selva', 'ashok']

In [4]:
print(emplist[:2])

['sathiya', 'sabari']

In [5]:
print(emplist[2:2])

[]

In [20]:
emplist[-4
        :-0
       ]

[]

## To excercise Set Data Structure

In [21]:
empnoset={10,8,19,15,7,4,8}

In [22]:
type(empnoset)

set

In [23]:
print(empnoset)

{4, 7, 8, 10, 15, 19}

In [24]:
empnoset.difference()

{4, 7, 8, 10, 15, 19}

In [25]:
empnoset.add('sathita')

In [26]:
print(empnoset)

{4, 'sathita', 7, 8, 10, 15, 19}

TypeError: 'builtin_function_or_method' object is not subscriptable

## To excercise Tuple

In [35]:
emp_tuple=tuple()

In [36]:
type(emp_tuple)

tuple

In [37]:
emp_tuple=["sathiya","sabari",4,5]

In [38]:
print(emp_tupel)

NameError: name 'emp_tupel' is not defined

In [39]:
print(emp_tuple)

['sathiya', 'sabari', 4, 5]

In [40]:
emp_tuple[1]

'sabari'

In [41]:
emp_tuple[2]="selva"

In [42]:
emp_tuple

['sathiya', 'sabari', 'selva', 5]

## Dictionaries

In [44]:
emp_dic={"name":"sathiya","age":2,"dob":'25-jun-2024'}

In [45]:
print(emp_dic)

{'name': 'sathiya', 'age': 2, 'dob': '25-jun-2024'}

In [46]:
print(emp_dic.values)

<built-in method values of dict object at 0x7fa659ecf4c8>

In [47]:
print(emp_dic.values())

dict_values(['sathiya', 2, '25-jun-2024'])

In [48]:
print(emp_dic.keys())

dict_keys(['name', 'age', 'dob'])

In [49]:
emp_dic.items()

dict_items([('name', 'sathiya'), ('age', 2), ('dob', '25-jun-2024')])

## To to excercise DataFrame

In [50]:
import pandas as pd

In [51]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [58]:
employee={"name":["sathiya","sabari","inba"],
         "id":[1001,1002,1003],
         "dob":["01-Jan-2025","10-Mar-2024","10-Aug-2025"],
         "salary":[10000,16000,12000]}

In [59]:
type(employee)

dict

In [60]:
empdataframe=pd.DataFrame(employee)

In [61]:
empdataframe

      name    id          dob  salary
0  sathiya  1001  01-Jan-2025   10000
1   sabari  1002  10-Mar-2024   16000
2     inba  1003  10-Aug-2025   12000

In [62]:
empdataframe.agg(['sum'])

                  name    id                                dob  salary
sum  sathiyasabariinba  3006  01-Jan-202510-Mar-202410-Aug-2025   38000